<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Our First Automatic project!</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400');
        *{
            box-sizing: border-box;
        }
        body{
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            height: 3210px;
            border: 1px solid #8A2BE2;
            width: 98%;
            justify-content: center;
        }
        h1{
            text-decoration: underline;
            text-decoration-color: #8A2BE2;
            position: relative;
            left: 40%;
            margin: 20px;
        }
        p{
            font-size: 15px;
            font-weight: lighter;
            position: relative;
            left: 40px;
            max-width: 650px;
        }
        img{
            position: relative;
            left: 100px;
            padding: 10px;
            border-bottom: 1px solid grey;
        }

    </style>
</head>
<body>
    <h1><%= title %></h1>

    <% text.map((item, index)=> { %>

        <% if (img[index + 1]) { %>
            <img  src='<%= img[index + 1] %>'/>
            <p class="paragraph"> <%= item %> </p>
        <%} else { %>
        <% } %>
            
    <% }) %>

</body>
</html>